# Neon tech (Ganti dengan Connection String Neon Anda)
DATABASE_URL="postgresql://neondb_owner:your_random_password_here@ep-your-host-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# Clerk Authentication (Ganti dengan API Keys Clerk Anda)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key_here
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key_here

# Clerk Redirect Routes (Default kustom)
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up